%h2.center
  You have
  = pluralize @howls.count, 'howls'
  in your pack

.row
  .col.s12
    .collection
      - @wolves.each do |wolf|
        .collection-item
          .row
            .col.s2
              = image_tag wolf.picture_url, class: 'responsive-img circle'
            .col.s10
              .row
                .col.s8
                  %h5= wolf.name
                .col.s4
                  .right= pluralize wolf.howl_count, 'howl'
              .row
                .col.s12
                  = wolf.bio
